<%= link_to 'new dish', new_dish_path %>

<% @dishes.each do |dish| %>

  <p>
    <%= link_to dish.name, dish_path(dish.id) %> 
    <%= link_to 'edit', edit_dish_path(dish.id) %>


    <%= form_for dish, method: :delete do %>
      <button>delete</button>
    <% end %>

  </p>

<% end %>