<% @dishes.each do |dish| %>

  <div class="ui-tile" data-id="<%= dish.id %>">
    <div class="bar1 content">
      <div class="right">14h</div>
      <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97200&w=200&h=200" alt=""> DT
    </div>

    <div class="image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt="">
      <span class="star">&#9733;</span>
    </div>

    <header class="content">
      <h2><%= dish.name %></h2>
      <h4>at GA</h4>
    </header>

    <div class="content">
      <span class="star-count right"><%= dish.likes.count %></span>
      <span class="delete-dish">DELETE</span>
    </div>
  </div>

<% end %>

<script>

  $('main').on('click', '.delete-dish', function() {
    var that = this; // feels very dirty
    var dishId = $(this).closest('.ui-tile').data('id');
    var options = {
      type: 'delete',
      url: '/api/dishes/' + dishId,
      dataType: 'json',
      data: { dish_id: dishId }
    };

    $.ajax(options).done(function(data) {  
      console.log(data);

      $(that).closest('.ui-tile').remove();
    });

  });


  $('main').on('click','.star', function() {

    var that = this; // feels very dirty
    var dishId = $(this).closest('.ui-tile').data('id');
    var options = {
      type: 'post',
      url: '/api/likes',
      dataType: 'json',
      data: { dish_id: dishId, user_id: 1 }
    };

    $.ajax(options).done(function(data) {  
      console.log(data);

      $(that).closest('.ui-tile')
             .find('.star-count')
             .html(   data.starCount   );
    });

  });  









</script>
