<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Good Food Hunting</title>
</head>
<body>

  <ul>
    <% @dish_types.each do |dish_type| %>
      <li><%= dish_type['name'] %></li>
    <% end %>
  </ul>
  
  <%= yield %>

</body>
</html>