
.container > div {
  display: inline-block;
  width: 49%;
  height: 100vh;
  vertical-align: top;
}


.dish-list {
  background-color: plum;
}

.map {
  background-color: tomato;
}

.ui-box {
  height: 10em;
  margin-bottom: 1em;
  background-color: tomato;
}
