<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <div class="container">
    <h1>WDI themed food blog</h1>
    <a href="/">HOME</a>
    <%= yield %>
  </div>

</body>