<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <form action="/contact" method="post">
    
    <label for="">test</label>
    <input type="text" name="test">

    <button>go</button>

  </form>
  
</body>
</html>
