body {
  background-color: linen;
}

.container {
  border: 1px solid black;
  max-width: 600px;
  margin: 0 auto;
}

.hide {
  visibility: hidden;
}

.showInline {
  display: inline;
  background-color: yellow;
  width: 500px; /* does not work */
}

.showBlock {
  display: block;
}

.showInlineBlock {
  display: inline-block;
  width: 50%;
  background-color: plum;
}